/*--------------------
    Google Fonts
 ---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;700&display=swap');

/*--------------------
        Resets
 ---------------------- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a{text-decoration: none;color: #fff;}
/* -------------------
    Utility classes 
----------------------*/
.container {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.basis-50 {
    flex-basis: 50%;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.common-button {
    padding: 0.5rem 2rem;
    background-color: var(--btn-bg);
    color: white;
    font-weight: 500;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    cursor: pointer;
}

.common-button i {
    transition: margin-right 0.3s ease;
    -webkit-transition: margin-right 0.3s ease;
    -moz-transition: margin-right 0.3s ease;
    -ms-transition: margin-right 0.3s ease;
    -o-transition: margin-right 0.3s ease;
}

.common-button:hover i {
    margin-right: 7px;
}



/*---------------------
        Colors
 --------------------- */

:root {
    --primary: #2D25A0;
    --secondary: #10437A;
    --heading-color: #18191F;
    --p-color: #6C6C6C;
    --btn-bg: #E02C6D;
}


/*-----------------------------
        Navbar Section Style
 ------------------------------ */
#Main-Menu {
    background-color: var(--primary);
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}
.nav-menu ul li{
    list-style: none;
    float: left;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}
.nav-menu ul li.active{
    background-color: #00a6ff;
}
.nav-menu ul li:hover{
    background-color: #00a6ff;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}
.nav-menu ul li  a {
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}



/*-----------------------------
        Hero Section Style
 ------------------------------ */


#hero-area {
    background-color: var(--primary);
    padding: 1rem;
    padding-bottom: 5rem;
    margin-top: 75px;
}

#hero-area .left-side h1 {
    font-size: 60px;
    color: white;
    width: 80%;
    line-height: 80px;
    padding-bottom: 2rem;
}

.left-side .common-button i {
    transition: margin-left 0.3s ease;
    -webkit-transition: margin-left 0.3s ease;
    -moz-transition: margin-left 0.3s ease;
    -ms-transition: margin-left 0.3s ease;
    -o-transition: margin-left 0.3s ease;
}

.left-side .common-button:hover i {
    margin-right: 0px;
    margin-left: 10px;
}

.right-side img {
    width: 100%;
}

#hero-area img {
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

#hero-area:hover img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}


/*-----------------------------
    Highlight Section Style
 ------------------------------ */

 #highlight {
    margin: 150px 0;
}

#highlight .left-side h1 {
    font-size: 48px;
    font-size: 700;
    line-height: 60px;
    padding: 8px 0;
}

#highlight .left-side p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--p-color);
    width: 75%;
}

/*-----------------------------
        Players Section Style
 ------------------------------ */

#players {
    margin: 70px 0;
}

#players .players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 27px;
    column-gap: 30px;
}

#players .players .player {
    width: 100%;
    min-height: 475px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

#players .players .player:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#players .players .player img {
    border-radius: 5px;
    width: 100%;
    transition: transform 0.3s ease-in;
    -webkit-transition: transform 0.3s ease-in;
    -moz-transition: transform 0.3s ease-in;
    -ms-transition: transform 0.3s ease-in;
    -o-transition: transform 0.3s ease-in;
}

#players .players .player h2 {
    font-weight: 700;
    font-size: 28px;
    color: var(--heading-color);
    padding: 5px 0;
}

#players .players .player p {
    font-size: 16px;
    font-weight: 400;
    color: var(--p-color);
}



/*-----------------------------
    Match Result Section Style
 ------------------------------ */
 #match-result{
     background-color: #f4f4f4;
     text-align: center;
     padding: 150px 0;
 }
#point-table span, #match-result span{
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #ff0000;
}
#point-table h1, #match-result h1, #subscribe h1{
    color: #262f3e;
    font-family: "Bebas Neue",sans-serif;
    font-size: 4.286em;
    margin-bottom: 0.3em;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.match {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
}
.match .matchdate, .matchseason{
    color: #262f3e;
    min-height: 32px;
    padding: 5px;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
}
.match .match-details p{
    padding: 5px 10px;
    font-size: 18px;
    letter-spacing: 1.5px;
    vertical-align: middle;
}


/*-----------------------------
    Point Table Section Style
 ------------------------------ */
 #point-table{
    text-align: center;
    padding: 150px 0;
}
.table{
    border: 0px;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.table>thead>tr>th, .table>tbody>tr>td{
    border-top: 0;
    color: #262f3e;
    background: #f4f4f4 ;
    vertical-align: middle;
    border-bottom: 2px solid #ddd;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 25px;
    text-align: left;
}
.table>tbody>tr{
    background-color: transparent;
    border-bottom: 1px solid #ddd;
}
.table>tbody>tr>td{
    font-size: 13px;
    font-weight: 500;
    border: none;
    padding: 17px 25px;
    background: transparent;
}

/*-----------------------------
    Subscriber Section Style
 ------------------------------ */

#subscribe{
    text-align: center;
    padding: 150px 0;
    background: #f4f4f4;
    margin-bottom: 100px;
}
.sub-form {margin: 20px 0px;}
.sub-form input{height: 42px;padding: 0 20px;font-size: 14px;background: transparent;border: 3px solid #e5e5e5;color: #000;}



/*-----------------------------
        Footer Area Style
 ------------------------------ */
footer .container {
    flex-direction: column;
}

footer .container img {
    width: 480px;
}

footer .container .social-icons i {
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    border: 1px solid #b8b8b8;
    border-radius: 50%;
    margin: 0 3px;
    transition: all linear .3s;
}
footer .container .social-icons i:hover {
    background: #ee2e24;
    color: #fff;
    border-color: #ee2e24;
}

footer .container .copyright-text {
    margin: 1rem 0;
    font-weight: 400;
    font-size: 18px;
}

/*-------------- ---------------
        responsive
--------------------------------- */





/*----------- for Mobile Devices------------- */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .container{
        width: 100%;
    }

    nav {
        display: none;
    }

    /* Hero Area */
    #hero-area {
        padding-bottom: 2rem;
        margin: 0;
    }

    #hero-area .container {
        flex-direction: column;
    }

    #hero-area .container .left-side h1 {
        font-size: 30px;
        line-height: 50px;
    }

    #hero-area .container .right-side img {
        padding-top: 4rem;
    }


    /* Players area */
    #players {
        margin-top: 50px;
    }

    #players .players {
        grid-template-columns: 1fr;
        flex-direction: column;
        align-items: center;
        display: flex;
        margin: 0;
        padding: 10px;
    }

    /* Highlight Section */
    #highlight {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    #highlight .container {
        flex-direction: column;
        padding: 16px;
    }

    #highlight .container .left-side h1 {
        font-size: 30px;
        line-height: 40px;
    }

    #highlight .container .left-side p {
        width: 100%;
    }
    #highlight .container .left-side .common-button{
        display: table;margin: 0px;
    }
    /* Match Area */
    #match-result, #point-table, #subscribe{
        padding: 60px 0;
    }
    #match-result .matches {
        grid-template-columns: 1fr;
        flex-direction: column;
        align-items: center;
        display: flex;
        margin: 0;
        padding: 10px;
    }
    .match {
        margin-bottom: 10px;
    }
    /* point Area */
   #point-table span, #match-result span{
       font-size: 20px;
   }
   #point-table h1, #match-result h1, #subscribe h1{
       font-size: 3em;
       margin-bottom: 0.4em;
   }
    #point-table .point-table-data{        
        overflow-x: scroll;
    }

    /* footer Area */
    footer .container img {
        width: 300px;
    }
}





/*----------- for Tablet/Tab Devices------------- */
@media screen and (min-width: 640px) and (max-width: 1200px) {
    .container{
        width: 100%;
    }


    /* Hero Area */
    #hero-area {
        padding-bottom: 2rem;
    }

    #hero-area .container .left-side h1 {
        font-size: 30px;
        line-height: 50px;
    }

    #hero-area .container .right-side img {
        padding-top: 4rem;
    }


    /* Players area */
    #players {
        margin-top: 50px;
        padding: 10px;
    }

    #players .players {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 30px;
    }

    /* Highlight Section */
    #highlight {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    #highlight .container {
        padding: 16px;
    }

    #highlight .container .left-side h1 {
        font-size: 30px;
        line-height: 40px;
    }

    #highlight .container .left-side p {
        width: 90%;
    }

    /* Match Area */
    #match-result, #point-table, #subscribe{
        padding: 60px 0;
    }
    #match-result .matches {
        grid-template-columns: 1fr;
        flex-direction: column;
        align-items: center;
        display: flex;
        margin: 0;
        padding: 10px;
    }
    #match-result .match {
        margin-bottom: 15px;
    }
    /* point table Area */

    #point-table span, #match-result span{
        font-size: 20px;
    }
    #point-table h1, #match-result h1, #subscribe h1{
        font-size: 3em;
        margin-bottom: 0.4em;
    }
    #point-table .point-table-data{        
        overflow-x: scroll;
    }
    /* footer table Area */

    footer .container img {
        width: 300px;
    }
}


